<?xml version="1.0"?>
<model>
  <name>Honeybee_down_cam</name>
  <version>1.0</version>
  <sdf version='1.4'>honeybee_down_cam.sdf</sdf>

  <author>
   <name>Reghard Grobler</name>
   <email>19141300@sun.ac.za</email>
  </author>

  <description>
    This is a model of a racing quad called honeybee with a downward facing camera
  </description>
</model>
