<?xml version="1.0"?>
<model>
  <name>Griffin</name>
  <version>1.0</version>
  <sdf version='1.4'>griffin.sdf</sdf>

  <author>
   <name>Anton Erasmus</name>
   <email>18177654@sun.ac.za</email>
  </author>

  <description>
    This is a model of the Tarot X4 build named GRIFFIN.
  </description>
</model>
